.slide-enter-active {
  transition: all, .3s
}
.slide-enter{
  transform: translate3d(100%, 0, 0)
}
.message{
  .tip-msg-signin {
    padding: 30px 30px 50px 30px;
    text-align: center;
    a{
      color: #80bd01;
    }
  }
}